version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  user-service-app:
    build: .
    container_name: user-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres

volumes:
  postgres_data: